body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.8;
    width: calc(100% - 100px);
    margin: 50px;
    border: 2px solid lightgray;
    box-sizing: border-box;
}

.content {
    width: 600px;
    margin: auto;
    padding: 50px;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    color: #006EB6;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
}

hr {
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    padding: 50px;
    margin: 0 auto;
    display: block;
}