:root {
    --gold-color: #EFC69B;
    --red-color: #AF1B3F;
    --dark-color: #473144;
    --body-font: Helvetica, Arial, Sans-Serif;
    --headline-font: Impact, Serif;
}

body {
    font-family: var(--body-font);
}

header h1 {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: var(--dark-color);
    font-family: var(--headline-font);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr .25fr;
    border-top: 3px solid var(--gold-color);
    border-bottom: 3px solid var(--gold-color);
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
    justify-items: end;
    grid-column-start: 2;
    list-style-type: none;
    color: var(--red-color);
    font-size: 1.2em;
}

a {
    color: var(--red-color);
    text-decoration: none;
}

.skiptocontent a {
    position: absolute;
    top: -50px;
}

.skiptocontent a:focus {
    top:0px
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 10px;
}

.article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    justify-items: center;
    text-align: left;
    align-content: center;
    margin: 30px;
}

.dateInfo {
    text-align: right;
    padding: 10px;
    border-right: 1px solid var(--gold-color);
    margin-left: auto;
}

.bookInfo {
    padding: 30px;
}

img {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: var(--red-color);
    font-family: var(--headline-font);
}

#filters {
    border: 3px solid var(--gold-color);
    margin-right: 10%;
    margin-top: 30px;
}